<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock head %}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="/theme/css/main.css">
        <link rel="stylesheet" href="/theme/css/pygments.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        </header><!-- /#banner -->
        <div class="pure-g">
          <div class="sidebar pure-u-1 pure-u-md-1-4">
            {% for article in articles %}
            <i class="fa fa-bar-chart"></i> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br />
            {% endfor %}
          </div>
          <div class="content pure-u-1 pure-u-md-3-4">
            {% block content %}
            {% endblock %}
          </div>
        </div>
</body>
</html>
