
body {
    font-family: sans-serif;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    white-space: pre-wrap;
}

.tooltip-inner {
  max-width:none;
  line-height: 1.5;
  padding: 20px;
  font-size: 14px;
}

.word {
  font-weight: bold;
  color: orange;
}
