* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #47c;
}
a:hover, a:focus {
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    line-height: 160%;
}

html, body {
    height: 100%;
}

.main {
    min-height: 100%;
}

h1 {
   color: #47c;
}

.sidebar {
    background-color: #eee;
    foreground-color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: square;
    padding-left: 20px;
}


.content {
     padding: 30px;
}

pre {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 90%;
}

:not(pre) > code {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 90%;
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  background-color: #f8f8f8;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

figure {
  margin: 0px;
}
